<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600,700&display=swap&subset=latin-ext"
        rel="stylesheet">
    <title>Power</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <!-- HEADER 1 -->
    @@include("../blocks/modules/header/header.html")
    <!-- header -->

    <!-- INTRO 2 -->
    @@include("../blocks/modules/intro/intro.html")
    <!-- intro -->

    <!-- STORY 3 -->
    @@include("../blocks/modules/story/story.html")
    <!-- /story -->

    <!-- CLASSES 4 -->
    <!-- @@include("../blocks/modules/classes/classes.html")
    <!-- /classes -->

    <!-- TRAINERS 5 -->
    <!--@@include("../blocks/modules/trainers/trainers.html")
    <!-- /trainers -->

    <!-- PRICING 6 -->
    <!--  @@include("../blocks/modules/pricing/pricing.html")
    <!-- /pricing -->

    <!-- REVIEWS 7 -->
    <!-- @@include("../blocks/modules/reviews/reviews.html")
    <!-- /reviews -->

    <!-- FOOTER 8 -->
    <!--@@include("../blocks/modules/footer/footer.html")
    <!-- /footer -->


    <!-- /*JS*/ -->
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>

</body>

</html>